@font-face {
    font-family: Righteous;
    src: url("font/Righteous-Regular.ttf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font/MaterialIcons-Regular.ttf);
}

@keyframes pizzaRun {
    from {
        transform: rotateZ(0deg);
        left: -1500px;
        animation-timing-function: linear;
    }
    10% {
        left: -1200px;

    }
    20% {
        left: -900px;

    }
    30% {
        left: -600px;

    }
    40% {
        left: -300px;

    }
    50% {
        transform: rotateZ(360deg);
        left: 0;

    }
    60% {
        left: 300px;

    }
    70% {
        transform: rotateZ(470deg);
        left: 600px;

    }
    80% {
        left: 300px;

    }
    90% {
        left: 150px;

    }
    to {
        transform: rotateZ(360deg);
        left: 0px;

    }

}

@keyframes pizzaClear1 {
    from {
        top: 0;
        left: 0;
    }
    to {
        opacity: 0;
        transform: rotateZ(-120deg);
        top: -1000px;
        left: -500px;
        display: none;
    }
}

@keyframes pizzaClear2 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(120deg);
        opacity: 0.3;
        top: -1000px;
        left: 500px;
        display: none;
    }
}

@keyframes pizzaClear3 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(120deg);
        opacity: 0.3;
        top: -900px;
        left: 1000px;
        display: none;
    }
}

@keyframes pizzaClear4 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(-120deg);
        opacity: 0.3;
        top: 900px;
        left: 1200px;
        display: none;
    }
}

@keyframes pizzaClear5 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(-120deg);
        opacity: 0.3;
        top: 1000px;
        left: 500px;
        display: none;
    }
}

@keyframes pizzaClear6 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(120deg);
        opacity: 0.3;
        top: 1000px;
        left: -500px;
        display: none;
    }
}

@keyframes pizzaClear7 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(120deg);
        opacity: 0.3;
        top: 900px;
        left: -1200px;
        display: none;
    }
}

@keyframes pizzaClear8 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(-120deg);
        opacity: 0.3;
        top: -900px;
        left: -1200px;
        display: none;
    }
}

/**************************************************************/
.img-block {
    position: relative;
    height: 650px;
    width: 650px;
    margin: 0 auto;
}

.img-block {
    animation: pizzaRun 1.5s linear;
    background-image: url("img/board.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 9px rgba(0, 0, 0, 0.8) inset;
}

.img-block img {
    position: absolute;
    width: 100%;
    border-radius: 50%;
}

.img-block .img-1 {
    animation-name: pizzaClear1;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-2 {
    animation-name: pizzaClear2;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-3 {
    animation-name: pizzaClear3;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-4 {
    animation-name: pizzaClear4;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-5 {
    animation-name: pizzaClear5;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-6 {
    animation-name: pizzaClear6;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-7 {
    animation-name: pizzaClear7;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-8 {
    animation-name: pizzaClear8;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/**********************************************************/
body {
    margin: 0;
    background: linear-gradient(135deg, #32373e, #0f1316);
    font-family: Righteous, sans-serif;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0 10px;
}

.button {
    display: flex;
    width: 100%;
    justify-content: center;
}

button {
    font-family: Calibri, sans-serif;
    padding: 7px 16px;
    background: linear-gradient(#ffcd8e, #de7900);
    transition: 0.5s;
    border: none;
    outline: 0;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600;
    margin: 30px 10px 10px;
    text-transform: uppercase;
    min-width: 150px;
}

button span {
    margin: 0 12px;
    font-size: 22px;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(#edc087, #e17c02);
}

.background {
    display: flex;
    min-height: 100vh;
    background-image: url(img/background.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1600px;
    margin: 40px auto 0;
    height: 100%;
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #a07637;
    font-size: 48px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    font-feature-settings: 'liga';
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__nav-list {
    display: flex;
    justify-content: flex-end;
}

.header__nav-list li {
    margin: 7px;
}

.header__nav-list li:hover {
    cursor: pointer;
}

h1 {
    color: #cdcdcd;
    font-size: 120px;
    font-weight: 500;
    margin: 0;
    padding: 10px 30px;
}

h2 {
    display: block;
    width: 100%;
    text-indent: 80px;
    color: #cdcdcd;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    padding: 20px 0 0 0;
}

h3 {
    color: #a07637;
    text-align: center;
    font-size: 25px;
    margin: 0 0 10px;
    font-weight: 300;
}

.price-list {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.price-list-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #02160B;
    background: linear-gradient(90deg, rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.1));
    transition: 0.2s;
}

.price-list-card:hover {
    box-shadow: 3px 3px 25px -7px rgba(176, 176, 176, 0.17);
}

.price-list-card img {
    display: block;
    width: 50%;
}


.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding: 40px 0;
}

.main-form input {
    display: block;
    background: rgba(1, 1, 1, 0.2);
    outline: none;
    color: #f3f3f3;
    border-radius: 7px;
    height: 33px;
    min-width: 98%;
    font-size: 22px;
}

.main-form label {
    color: #aaaaaa;
    width: 100%;
    margin: 5px 0;
}

.main-form-button-block {
    display: flex;
    justify-content: space-around;
}


/*.page {*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    flex-direction: column;*/

/*}*/

/*.container {*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    background: linear-gradient(90deg, rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.1));*/
/*    border-radius: 10px;*/
/*    padding: 20px;*/
/*}*/

/*label {*/
/*    color: #cdcdcd;*/
/*    font-size: 20px;*/
/*    transition: 0.4s;*/
/*}*/

/*label:hover, input:hover {*/
/*    cursor: pointer;*/
/*    color: #ffcd8e;*/
/*}*/

/*input {*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    opacity: 0;*/
/*}*/

/*input:checked ~ label {*/
/*    color: darkorange;*/
/*}*/

/*input:checked + img {*/
/*    opacity: 1;*/
/*}*/

/*li img {*/
/*    height: 18px;*/
/*    opacity: 0;*/
/*    transition: 0.2s;*/
/*}*/


/*.result {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    position: absolute;*/
/*    bottom: 10px;*/
/*    right: 10px;*/
/*}*/

/*.information_image {*/
/*    width: 550px;*/
/*    height: 550px;*/
/*    margin: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.information_cost {*/
/*    font-size: 30px;*/
/*    color: #f3f3f3;*/
/*    padding: 10px 20px;*/
/*    height: 45px;*/
/*    width: 100%;*/
/*    font-weight: 300;*/
/*}*/

/*.information_cost span {*/
/*    color: orange;*/
/*    padding: 0 10px;*/
/*    font-weight: 600;*/
/*}*/

/*.information_calories {*/
/*    font-size: 30px;*/
/*    color: #f3f3f3;*/
/*    padding: 10px 20px;*/
/*    height: 45px;*/
/*    width: 100%;*/
/*    font-weight: 300;*/
/*}*/

/*.information_calories span {*/
/*    color: orange;*/
/*    padding: 0 10px;*/
/*    font-weight: 600;*/
/*}*/

/*.img_container_block {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 550px;*/
/*    height: 550px;*/
/*    background-image: url(img/table.png);*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*    position: relative;*/
/*}*/

/*.img_container_block div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*    width: 260px;*/
/*    height: 260px;*/
/*}*/

/*.img_dough {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-radius: 50%;*/
/*    box-shadow: 10px 7px 16px -10px rgba(0, 0, 0, 0.75);*/
/*    opacity: 0;*/
/*    transition: 1s;*/
/*}*/

/*.img_components {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    transition: 1s;*/
/*}*/

/*.img_components {*/
/*    width: 87%;*/
/*    height: 87%;*/
/*}*/

/*.img_additionally_block {*/
/*    position: absolute;*/
/*    top: 70px;*/
/*    right: 0;*/
/*    transition: 0.5s;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    max-width: 100px;*/
/*}*/

/*.img_additionally_block img {*/
/*    width: 100px;*/
/*    opacity: 0;*/
/*}*/

/*.popup {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(1, 1, 1, 0.8);*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    transition: 1s;*/
/*}*/

/*.popup_container {*/
/*    min-height: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-family: sans-serif;*/
/*    padding: 30px 10px;*/
/*}*/

/*.popup_content {*/
/*    background-color: white;*/
/*    box-shadow: 1px 2px 9px 7px rgba(0, 0, 0, 0.21) inset;*/
/*    border-radius: 5px;*/
/*    color: #2d2d2d;*/
/*    max-width: 600px;*/
/*    padding: 30px;*/
/*    position: relative;*/
/*    transition: 0.8s;*/
/*    transform: perspective(700px) translate(0, -200%) rotateX(45deg);*/
/*    text-align: center;*/
/*}*/

/*.title_popup {*/
/*    font-size: 40px;*/
/*    margin: 15px 0 30px;*/
/*    font-weight: 600;*/
/*    text-align: center;*/
/*}*/

/*.text_popup span {*/
/*    color: #a07637;*/
/*    font-weight: 600;*/
/*}*/

/*.close_popup span {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*}*/

/*.close_popup span:hover {*/
/*    cursor: pointer;*/
/*    transition: 0.3s;*/
/*    color: #e17c02;*/
/*}*/

/*.popup_button {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*@media (max-width: 1400px) {*/
/*    .information_image {*/
/*        flex-direction: column;*/
/*        width: 100%;*/
/*        height: 450px;*/
/*        text-align: center;*/
/*    }*/

/*    .result {*/
/*        position: relative;*/
/*    }*/

/*    .img_container_block {*/
/*        height: 450px;*/
/*    }*/

/*    .wrapper {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        background-image: none;*/
/*    }*/

/*    h1 {*/
/*        font-size: 90px;*/
/*    }*/

/*    h2 {*/
/*        font-size: 75px;*/
/*    }*/

/*    .information_image {*/
/*        height: 100px;*/
/*    }*/

/*    .img_container_block {*/
/*        display: none;*/
/*    }*/

/*    main {*/
/*        align-items: center;*/
/*    }*/
/*}*/

/*@media (max-width: 840px) {*/
/*    main {*/
/*        justify-content: flex-start;*/
/*    }*/

/*    h1 {*/
/*        font-size: 65px;*/
/*        text-align: end;*/
/*    }*/

/*    h2 {*/
/*        font-size: 45px;*/
/*        text-align: end;*/
/*    }*/

/*    h3 {*/
/*        font-size: 16px;*/
/*    }*/

/*    label {*/
/*        font-size: 14px;*/
/*    }*/

/*    .wrapper {*/
/*        min-width: 600px;*/
/*    }*/

/*    li img {*/
/*        height: 12px;*/
/*    }*/

/*    .title {*/
/*        display: inline-flex;*/
/*        flex-direction: column;*/
/*        align-items: flex-end;*/
/*        font-size: 16px;*/
/*    }*/

/*    .information_cost, .information_calories {*/
/*        font-size: 22px;*/
/*    }*/

/*    .information_calories span, .information_cost span {*/
/*        font-size: 30px;*/
/*    }*/
/*}*/

/*@media (max-width: 600px) {*/
/*    .container {*/
/*        flex-direction: column;*/
/*    }*/

/*    h1 {*/
/*        font-size: 44px;*/
/*        text-align: end;*/
/*    }*/
/*}*/