@font-face {
    font-family: Righteous;
    src: url("font/Righteous-Regular.ttf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font/MaterialIcons-Regular.ttf);
}

/*****************     Анимация пиццы   *************************/
@keyframes pizzaRun {
    from {
        transform: rotateZ(0deg);
        left: -1500px;
        animation-timing-function: linear;
    }
    10% {
        left: -1200px;

    }
    20% {
        left: -900px;

    }
    30% {
        left: -600px;

    }
    40% {
        left: -300px;

    }
    50% {
        transform: rotateZ(360deg);
        left: 0;

    }
    60% {
        left: 300px;
        animation-timing-function: ease-in-out;
    }
    70% {
        transform: rotateZ(470deg);
        left: 600px;
    }
    80% {
        left: 300px;

    }
    90% {
        left: 150px;

    }
    to {
        transform: rotateZ(360deg);
        left: 0px;

    }

}

@keyframes pizzaClear1 {
    from {
        top: 0;
        left: 0;
    }
    to {
        opacity: 0;
        transform: rotateZ(-120deg);
        top: -1000px;
        left: -500px;
        display: none;
    }
}

@keyframes pizzaClear2 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(120deg);
        opacity: 0.3;
        top: -1000px;
        left: 500px;
        display: none;
    }
}

@keyframes pizzaClear3 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(120deg);
        opacity: 0.3;
        top: -900px;
        left: 1000px;
        display: none;
    }
}

@keyframes pizzaClear4 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(-120deg);
        opacity: 0.3;
        top: 900px;
        left: 1200px;
        display: none;
    }
}

@keyframes pizzaClear5 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(-120deg);
        opacity: 0.3;
        top: 1000px;
        left: 500px;
        display: none;
    }
}

@keyframes pizzaClear6 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(120deg);
        opacity: 0.3;
        top: 1000px;
        left: -500px;
        display: none;
    }
}

@keyframes pizzaClear7 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(120deg);
        opacity: 0.3;
        top: 900px;
        left: -1200px;
        display: none;
    }
}

@keyframes pizzaClear8 {
    from {
        top: 0;
        left: 0;
    }
    to {
        transform: rotateZ(-120deg);
        opacity: 0.3;
        top: -900px;
        left: -1200px;
        display: none;
    }
}

/*****************  Блок с картинками кусков пиццы   ****************/
.img-block {
    position: relative;
    height: 650px;
    width: 650px;
    margin: 0 auto;
    animation: pizzaRun 1.5s linear;
    background-image: url("img/board.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 21px 11px rgba(0, 0, 0, 0.72) inset;
}

.img-block img {
    position: absolute;
    width: 100%;
    border-radius: 50%;
}

.img-block .img-1 {
    animation-name: pizzaClear1;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-2 {
    animation-name: pizzaClear2;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-3 {
    animation-name: pizzaClear3;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-4 {
    animation-name: pizzaClear4;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-5 {
    animation-name: pizzaClear5;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-6 {
    animation-name: pizzaClear6;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-7 {
    animation-name: pizzaClear7;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img-block .img-8 {
    animation-name: pizzaClear8;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*******************        Попап       ***************************/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.8);
    transition: 1s;
    visibility: hidden;
}

.popup_container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 30px 10px;
}

.popup_content {
    background-color: white;
    box-shadow: 1px 2px 9px 7px rgba(0, 0, 0, 0.21) inset;
    border-radius: 5px;
    color: #2d2d2d;
    max-width: 600px;
    padding: 30px;
    position: relative;
    transition: 0.8s;
    transform: perspective(700px) translate(0, -200%) rotateX(45deg);
    text-align: center;
}

.title_popup {
    font-size: 40px;
    margin: 15px 0 30px;
    font-weight: 600;
    text-align: center;
}

.text_popup span {
    color: #a07637;
    font-weight: 600;
}

.close_popup span {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close_popup span:hover, .header-icons:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #e17c02;
}

.popup_button {
    width: 100%;
    display: flex;
    justify-content: center;
}

/****************************************************************************/
body {
    margin: 0;
    background: linear-gradient(135deg, #32373e, #0f1316);
    font-family: Righteous, sans-serif;
    /*overflow: hidden;*/
}

.block-btn {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__nav-list {
    list-style: none;
    padding: 0 10px;
}


.btn {
    font-family: Calibri, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    background: linear-gradient(#ffcd8e, #de7900);
    transition: 0.5s;
    border: none;
    outline: 0;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600;
    margin: 30px 20px 10px;
    text-transform: uppercase;
}

.btn span {
    margin: 0 12px;
    font-size: 22px;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(#edc087, #e17c02);
}

.root {
    min-height: 100vh;
    background-image: url(img/background.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1600px;
    margin: 40px auto 0;
    height: 100%;
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #a07637;
    font-size: 48px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    font-feature-settings: 'liga';
}

.close {
    font-size: 26px;
}

.header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__nav-list li {
    margin: 7px;
}

.header__nav-list li:hover {
    cursor: pointer;
}

h1 {
    color: #cdcdcd;
    font-size: 120px;
    font-weight: 500;
    margin: 0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

h2 {
    display: block;
    width: 100%;
    text-align: center;
    color: #cdcdcd;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    padding: 20px 0 0 0;
}

h3 {
    color: #a07637;
    text-align: center;
    font-size: 25px;
    margin: 0 0 10px;
    font-weight: 300;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding: 40px 0;
}

.main-form .input-form > input {
    display: block;
    background: rgba(1, 1, 1, 0.2);
    outline: none;
    color: #f3f3f3;
    border-radius: 7px;
    height: 33px;
    min-width: 98%;
    font-size: 22px;
}

.main-form label {
    width: 90%;
    position: relative;
}

.main-form label span {
    display: inline-block;
    color: #dcdcdc;
    padding: 7px 0;
}

span.eye, span.eye-off {
    display: flex;
    font-size: 22px;
    position: absolute;
    left: 93%;
    bottom: 3px;
    transition: 0.2s;
}

.eye:hover, .eye-off:hover {
    cursor: pointer;
}

label span.eye-off {
    display: none;
    color: #ff4a2a;
}


.main-form-button-block {
    display: flex;
    justify-content: space-around;
}

.page {
    display: flex;
    align-items: flex-start;
    /*flex-direction: column;*/
    justify-content: center;
}

.popup-header {
    position: fixed;
    z-index: 3;
    top: 0px;
    right: 0px;
    height: 500px;
    width: 400px;
    background: linear-gradient(180deg, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0) 97%);
    border-radius: 7px;
    transition: 1s;
    color: #cdcdcd;
    padding-top: 30px;
    transform: perspective(200px) translate(0, -100%) rotateX(45deg);
}

.popup-header-title {
    color: #a07637;
}

.popup-header-container-info {
    list-style: none;
    padding: 0;
}

.popup-li {
    margin: 15px 0;
    padding: 0 26px;
    display: flex;
    justify-content: space-between;
}

.popup-header-img {
    text-align: center;
}

.popup-header-img img {
    max-width: 75px;
    margin: 18px 0 8px;
}

.popup-header-container-info li span:first-child {
    color: #de7900;
}